.about-page {
  font-family: "Josefin Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

/*TOP SECTION*/
.about-header {
  padding: 4rem;
}

.about-header h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #000000;
}

.intro-letter::first-letter {
  font-size: 2em;
  font-weight: bold;
  color: #fbb035;
  margin-right: 0.1em;
  margin-top: -0.1em;
  margin-bottom: -0.1rem;

}

.about-header-text {
  margin-top: 2rem;
  font-size: 1.75rem;
  font-weight: 300;
  margin-left: -5rem;
  padding-right: -2rem;
}

.elmer-about-container {
  float: right;
  width: 30rem;
  margin-right: -29rem;
  margin-top: 5rem;  
}

.elmer-tag {
  font-size: 2.5rem!important;
  font-weight: 300;
  color: #000000;
  margin-left: 7rem;
  margin-top: -1rem;


}



.staff-icon {
  position: absolute;
  top: calc(50% - 0.5em);
  left: -1.5em;
  transform: scale(0.25);
}

.wave-about {
  width: 120%;
  height: 100%;
  margin-top: -35rem;
  margin-bottom: -50rem;
  margin-left: -10rem;
  z-index: -1;
}

.animate__rubberBand {
  animation-duration: 10s; /* Set the duration of the animation */
  animation-delay: 10s; /* Set the delay before the animation starts */
  animation-name: rubberBand; /* Set the name of the animation */
}

.musical-staff {
  margin-top: -25rem;
  margin-left: -4.5rem

  
}




/*HORIZONTAL SCROLLING TIMELINE*/

.carousel-container{
  text-align: center;
}

.dot{
  height: .5rem;
  width: .5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.25rem;
  transition: background-color 0.6s ease;
}

.carousel-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

img.about-carousel-img{
  width: 50rem;
  height: auto; 
  object-fit: cover;
  border-radius: .5rem;
  margin: auto;
  margin-bottom: 2rem; 
}

p.about-carousel-text{
  max-width: 50rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
}

@media only screen and (max-width: 1080px) {
  .about-header {
    padding: 2rem;
  }
  .about-header h1 {
    font-size: 3rem;
  }
  .about-header-text {
    font-size: 1.5rem;
  }
  figure.figure {
    width: 30rem;
    margin-left: -1rem;
  }
  .background-svg-container {
    margin-left: -4rem;
  }
}

@media only screen and (max-width: 730px) {
  .about-header {
    padding: 2rem;
  }
  .about-header h1 {
    font-size: 3rem;
  }
  .about-header-text {
    font-size: 1.25rem;
  }
  figure.figure {
    width: 30rem;
    margin-left: -1rem;
  }
  div.background-svg-container {
    margin-left: -8rem;
  }
}

@media only screen and (max-width: 530px) {
  .about-header {
    padding: 2rem;
  }
  .about-header h1 {
    font-size: 3rem;
  }
  .about-header-text {
    font-size: 1.25rem;
  }
  figure.figure {
    width: 30rem;
    margin-left: -6rem;
  }
  div.background-svg-container {
    margin-left: -4rem;
  }
}

/*FOOTER TEXT AND VIDEO*/
.about-footer {
  margin-top: 2rem;
  text-align: center;
  align-self: center;
  margin-bottom: 2rem;
}

.about-footer-text-container{
  margin-top: -3rem;
  text-align: center;
  align-self: center;
}

.about-footer h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
  letter-spacing: -7px;
  margin-top: 5rem;
}

.about-text2 {
  margin-top: 2rem;
  font-size: 2.5rem;
}

div .about-video {
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  margin-top: 3rem;
}


