.about-page {
  font-family: 'Josefin Sans', sans-serif;
}

.about-header {
  padding: 4rem;
  text-align: center;  
}

.about-heart {
  width: 10rem;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
  color: blueviolet;
}

.about-header h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #000000;
}

div .about-video {
  width: 20rem;
  height: auto;
  margin: 0 auto;
  border-radius: 1rem;
}

div .about-video2 {
  width: 35rem;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;;
  
}

.about-text {
  margin-top: 2rem;
  font-size: 3rem;
}

.parallax-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  
}

.parallax-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem;
  margin: 1rem;
  background: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  border-radius: 1rem;
}

.parallax-section.inverse {
  flex-direction: row-reverse;
}

.parallax-image {
  width: 50%;
  height: 50%;
  border-radius: .5rem;

}

.parallax-text {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.masonry-container {

}

.masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.masonry-grid_column > img {
  margin-bottom: 30px;
  width: 100%;
}

.beechler-arb-about{
  background-color: black;
  height: 15rem;
  border-radius: 1rem;
  margin-bottom: -5rem;
}