.about-page{
    font-family: Josefin Sans, sans-serif;
    margin-top: 1rem;
}
.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-text{
    padding: 1rem;
}

.about-video video {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
}

.about-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .about-timeline p {
    margin-bottom: 1rem;
  }
  
  .about-timeline img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .timeline-animation {
    margin-bottom: 1rem;
  }
  
  .timeline-animation-left {
    animation-name: slide-in-from-left;
    animation-duration: 1s;
  }
  
  .timeline-animation-right {
    animation-name: slide-in-from-right;
    animation-duration: 1s;
  }

  .timeline-animation-left.timeline-animation-visible {
    animation-name: slide-in-from-left;
    animation-duration: 1s;
  }
  
  .timeline-animation-right.timeline-animation-visible {
    animation-name: slide-in-from-right;
    animation-duration: 1s;
  }
  
  
  @keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-from-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  