.artist-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color:#2a3132;

}


.artist-card {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.artist-card .artist-name {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.artist-card .mouthpiece {
  margin: 5px;
  padding: 5px;
  background-color: rgb(47, 40, 40);
  border-radius: 5px;
}





