/* Dealers page */
.dealers-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

/* Dealers list */
.dealers-list {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  font-family: 'Josefin Sans', sans-serif;

}

.dealer-map-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  letter-spacing: -3.5px;
}

.dealer-name {
  color: var(--black-alt);
  
}

.dealer-info {
  color: var(--grey-alt);
  margin: 0;
}



.dealer-search-input::placeholder {
  color: var(--grey);
  font-style: italic;
}

/* Map container */
.leaflet-container {
  border: 2px solid var(--grey-alt);
  max-height: 75vh;
  width: 100%;
  margin-bottom: 1rem;
}

/* Popup */
.leaflet-popup-content-wrapper {
  background-color: var(--white);
  border-radius: 5px;
}

.leaflet-popup-tip-container {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10000;
}

.leaflet-popup-tip {
  background-color: var(--white);
  border: 2px solid var(--grey-alt);
  box-shadow: 0 0 1px var(--grey-alt);
}

/* Musical note icon */
.musical-note-icon {
    background-color: transparent;
    border:none
}
.musical-note-icon i {
    font-size:24px
}

@media screen and (max-width: 968px) {
  .dealers-list {
    margin-top: 0rem;
  }
  
}