@import url("/src/styles/theme.css");

.footer {
  background-color: var(--black-alt);
  color: var(--white);
  padding: 2rem 0;
  font-family: "Josefin Sans", sans-serif;
}

.stripe-footer {
  position: relative;
  overflow: hidden;
  clear: both;
}

.stripe-footer:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--black);
}

.footer .container {
  max-width: 82em;
}

.footer-section{
  margin-bottom: 2rem;
}

.footer h4 {
  margin-bottom: 1rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .usa-container {
  text-align: center;
}

.footer .usa-flag {
  width: 4rem;
}

.footer .footer-bottom {
  text-align: center;
  margin-top: 2rem;
}

.footer .footer-bottom p {
  margin-bottom: 0.5rem;
}

.social-link {
  color: var(--white);
  height: 2rem;
  width: auto;
}

.social-link:hover {
  color: var(--accent);
}

/* Media Queries for refined footer across devices */

/* Mobile devices (up to 440px) */
@media (max-width: 440px) {
  .footer {
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
.social-link {
  color: var(--white);

}
  
}

/* Small tablets and large smartphones (441px - 767px) */
@media (min-width: 441px) and (max-width: 767px) {
  .footer {
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Tablets (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  .footer {
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Large tablets and desktops (993px - 1312px) */
@media (min-width: 993px) and (max-width: 1312px) {
.social-link{
  margin-right:13rem;
}
}

/* Extra large devices (1312px and above) */
@media (min-width: 1312px) {
  .footer {
    display: flex;
  }

  .social-link{
    margin-right:13rem;
  }
}




