@import url("/src/styles/theme.css");
.footer {
    background-color: var(--black-alt);
    color: var(--white);
    padding: 2rem 10rem;
    font-family: "Josefin Sans", sans-serif;
  }

  img {
    width: 4rem;

  }

  .stripe-footer {
    position: relative;
    overflow: hidden;
    clear: both;
  }
  
  .stripe-footer:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
    background-color: var(--black);
  }
  
  
  .content-container {
    max-width: 82em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0 1rem;
  }
  
  .footer-section h4 {
    margin-bottom: 1rem;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li a {
    color: var(--white);
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .footer-section li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 2rem;
    text-align: center;
  }
  
  .footer-bottom p {
    margin-bottom: 0.5rem;
  }

  .footer-section ul li a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--white);
  }
  
  .footer-section ul li a:hover {
    color: var(--accent);
  }
  
  
  @media (max-width: 62em) {
    .footer{
    padding: 2rem 0rem;
    }
    .footer-content {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 2rem;
    }
  }
  
  @media (min-width: 62.01em) {
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  