@import url("/src/styles/theme.css");

.home-carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe-carousel {
  position: relative;
}

.stripe-carousel:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--black) !important;
}

.swiper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 0.1rem;
}



.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem !important;
  transition: transform 1.25s;
}

.swiper-slide-active img {
  transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50% !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #343541b3 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px !important;
  font-weight: bold !important;
  background-image: var(--accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.swiper-button-next::after {
  padding-right: 0.15rem;
  margin-left: 0.15rem;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination-horizontal {
  display: none !important;
}

.carousel-fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  pointer-events: none;
  z-index: 2;
  background-image: linear-gradient(
    to right,
    rgba(12, 11, 11, 0.8),
    rgba(12, 11, 11, 0)
  );
}

.carousel-fade-right {
  right: 0;
  transform: scaleX(-1);
}

@media (max-width: 688px) {
  .swiper-container {
    width: 90%;
    height: 40vw;
  }

  .swiper-button-next {
    right: 1rem;
  }

  .swiper-button-prev {
    left: 1rem;
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  .swiper-container {
    width: 80%;
    height: 45vw;
  }

  .swiper-button-next {
    right: 4rem;
  }

  .swiper-button-prev {
    left: 4rem;
  }
}

@media (min-width: 993px) and (max-width: 1312px) {

  .swiper-container {
    width: 70%; 
    height: 50vw; 
  }

  .swiper-button-next {
    right: 11rem;
  }

  .swiper-button-prev {
    left: 12rem;
  }
}

@media (min-width: 1312px) {
  .swiper-container {
    width: 60%;
    height: 55vw; 
  }
}
