.stripe-home-dealer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.stripe-home-dealer::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--black);
}

.home-dealer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.home-dealer-map {
  background-color: var(--black);

}


.home-dealer-title h2 {
  font-size: 5rem;
  font-weight: 700;
  padding-top: 1rem;
  color: var(--white);
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.home-dealer-map .geo {
  fill:#0c0b0b;
  fill: var(--accent);
  stroke: var(--white);
  stroke-width: 0.75;
  outline: none;

}

.home-dealer-map .geo:hover {
  fill: var(--nav-accent);
}

.home-dealer-map .default-geo {
  fill: #0c0b0b;
  stroke: var(--white);
  stroke-width: 0.75;
  outline: none;
}

.home-dealer-map .dealers-tooltip {
  position: absolute;
  background-color: var(--white);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--black);
  z-index: 10;

}


