
.stats-card {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  padding: 1rem;
  border-radius: 50%; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  width: 13rem; 
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow .3s ease;
  margin-bottom: 1.5rem;
}

.home-dealer-stats > .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;
}

.stats-card:hover {
  box-shadow: 0px 0px 20px 2px rgba(255, 223, 0, 0.7); /* soft golden glow */
}

.gradient-text {
  background: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;  
  font-weight: 700;
  margin-bottom: -1rem; 
}

.stats-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0c0b0b;
  margin-top: .25rem; 
}

.stats-icon {
  width: auto;
  height: 4rem;
  margin-top: -.5rem;
  margin-bottom: -.25rem;
}

@media (max-width: 768px) {
  .stats-card {
    width: 10rem; /* Smaller width */
    height: 10rem; /* Smaller height */
  }

  .home-dealer-stats > .col {
    margin: 0 1.5rem; /* Smaller margin */
  }

  .gradient-text {
    font-size: 4rem; /* Smaller font size */
  }

  .stats-title {
    font-size: 1.2rem; /* Smaller font size */
  }

  .stats-icon {
    height: 3rem; /* Smaller height */
  }
}