.stripe-categories {
  position: relative;
}

.stripe-categories:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--black);
}

.home-categories {
  background-color: whitesmoke;
  font-family: "Josefin Sans", sans-serif;
  color: var(--black);
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home-categories h2 {
  font-family: "Big Shoulders Text", sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 7rem;
  text-align: center;
}

.category-col {
  margin-bottom: 10rem;
}

.category-card {
  background: transparent !important;
  border: none !important;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.category-card .card-body {
  display: flex;
  align-items: center;
  padding: 0;
}

.category-card img {
  width: 12rem;
  height: 16rem;
  margin-bottom: 1rem;
}

.category-card .category-text {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  color: var(--black);
  text-decoration: none !important;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0rem;
}

.category-card:hover .category-text {
  color: var(--nav-accent);
}

.category-card:hover .category-image {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.category-image {
  width: 8rem;
  height: 11.5rem;
  margin-right: 1rem;
}

.category-link {
  text-decoration: none !important;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}


.category-line {
  border-bottom: 2px solid rgba(128, 128, 128, 0.606);
  margin-top: auto;
}

.beechler-arb-logo {
  position: relative;
  width: 100%!important;
  height: 100%!important;
  margin-top: 0rem!important;
  margin-bottom: -5rem !important;
  overflow: hidden; 
  background-image: url("../assets/img/blurry2.png")!important;
  border-radius: 1rem;
}



div.category-col:nth-child(12)
  > a:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2) {
  display: none;
}
div.category-col:nth-child(12) > a:nth-child(1) > div:nth-child(2) {
  display: none;
}

@media (max-width: 375px) {
  .home-categories h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  .category-card::before {
    margin-bottom: auto !important;
  }
  .category-text {
    margin-bottom: 0;
  }
  .category-col {
    flex: 0 calc(100% - 0.25rem);
    max-width: calc(100% - 0.25rem);
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  .category-col {
    flex: 0 calc(50% - 0.25rem);
    max-width: calc(50% - 0.25rem);
  }
  .beechler-arb-logo {
    width: 100%;
    margin-top: 5rem!important;
    margin-bottom: 0rem!important;
    margin-left: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1312px) {

  .beechler-arb-logo {
    width: 100%;
    margin-top: 5rem!important;
    margin-bottom: 0rem!important;
  }
}
@media (min-width: 1313px) {
  .category-line {
    border-bottom: 2px solid rgba(128, 128, 128, 0.606);
    margin-top: -0.5rem;
  }
  .beechler-arb-logo {
    margin-top: 5rem!important;
    margin-bottom: 0;
  }

}

