.home-about {
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: var(--black);
}

.home-about-row {
  height: 75vh;
}

/* Left Side About Section */
.home-about-left {
  height: 100%;
  background-color: var(--black);
  font-family: "Big Shoulders Text", sans-serif;
  padding-top: 0.5rem;
}

.home-about-left h2 {
  font-size: 4rem;
  font-weight: 900;
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

div.col-md-4.home-about-left p.about-main-text {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--white);
  margin-top: 1rem;
  margin-bottom: 3rem;
}

div.col-md-4.home-about-left p.about-supplemental-text {
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 2.5rem;
  color: var(--white);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-section {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Right Side of About Section */

div .carousel-wrapper {
  margin-left: 3rem;
}

div .slide {
  padding: 0 1rem;
}

div .slide.selected {
  opacity: 1;
  padding: 0 1rem;
}

button.control-arrow.control-prev,
button.control-arrow.control-next {
  display: none;
}

.slide img {
  height: 40rem;
  width: 50rem;
  object-fit: cover;
  position: relative;
  border-radius: 35px;
  opacity: 0;
  transition: opacity 2s ease;
}

.slide.selected img {
  opacity: 1;
}

.about-section-tag {
  font-family: "Big Shoulders Text", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  background: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  animation: fadeInMoveRight 7.5s ease infinite;
  animation-delay: inherit;
  opacity: 0;
  transition: opacity 1s ease 3s, transform 1s ease 3s;
}

.about-section-tag.fadeInMoveRight {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) translateX(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.slide:not(.selected) .about-section-tag {
  animation: none;
}

.slide.selected .about-section-tag {
  animation: fadeInMoveRight 8s ease infinite;
}

@keyframes fadeInMoveRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@media (max-width: 767px) {
  .home-about-row {
    height: 120vh;
    
  }

  div .home-about-right {
    margin-top: 1rem;
    margin-left: -3rem;
    margin-bottom: 2rem;
  }

  div .carousel-wrapper {
    margin-left: -4rem;
    width: 30rem;
  }

  div .slide {
    padding: 0 !important;
    transition: opacity 2s ease !important;
  }

  div .slide.selected {
    padding: 0 !important;
    opacity: 1;
    transition: opacity 2s ease !important;
  }

  .slide img {
    height: auto;
    width: 25rem !important;
    transition: opacity 2s ease !important;
  }

  .about-section-tag {
    font-size: 1.5rem;
    top: 60%;
    right: 2rem;
  }
}
