
.home-artist-card .artist-col {

  display: flex;
  justify-content: center;
  align-items: center;
}
.home-artist-card .artist-card {
  position: relative;
  min-width: 200px;
  width: 250px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  text-align: center;

}


/* Style the artist name */
.home-artist-card .artist-card .artist-name {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style the mouthpieces */
.home-artist-card .artist-card .mouthpiece {
  margin: 5px;
  padding: 5px;
  background-color: rgb(47, 40, 40);
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
  .home-artist-card .artist-col {
    padding: 1rem;
  }
  .home-artist-card .artist-card {
    width: 20rem;
  }
  .home-artist-card .artist-card .artist-name {
    font-size: 18px;
  }
  
}