.stripe {
  position: relative;
  width: 100%;
}

.stripe:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--black-alt);
}

.navbar {
  background-color: var(--black-alt);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand img {
  height: 5rem;
  width: auto;
  margin-left: 1rem;
}

.nav-link {
  font-family: Josefin Sans, sans-serif;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 150px;
}

.nav-link:hover,
.active-link {
  background-image: var(--accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-button {
  margin: 0.5rem 1rem 0 0;
}

.hamburger:focus {
  outline: none;
  box-shadow: none;
}

.hamburger .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0;
  transition: transform 0.7s ease-in-out;
  background-color: #fbb034;
}

.hamburger .top-bar,
.hamburger .middle-bar,
.hamburger .bottom-bar {
  transform-origin: top left;
  background-color: #fbb034;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.7s;
}

.hamburger .bottom-bar {
  transform-origin: bottom left;
}

.hamburger .icon-bar.top-bar.toggled {
  transform: translateY(50%) translateY(-4px) rotate(45deg);
}

.hamburger .icon-bar.middle-bar.toggled {
  opacity: 0;
}

.hamburger .icon-bar.bottom-bar.toggled {
  transform: translateY(-50%) translateY(1px) rotate(-45deg);
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-to-top.visible {
  opacity: 0.8;
}

.scroll-to-top-button {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.scroll-to-top-button:hover {
  opacity: 1;
}

/* Mobile */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-end;
  }
  div .navbar-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-link,
  .contact-button {
    margin-left: auto;
    justify-content: flex-end;
    margin-right: 1rem;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .nav-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
  }

  .nav-link {
    margin: 0 1rem;
  }
  .contact-button {
    margin-right: 2rem;
  }
}

/* Laptop + Desktop */
@media (min-width: 993px) and (max-width: 1312px) {
  .nav-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
  }
  .contact-button {
    margin-right: 1rem;
  }
}
