/* Import theme.css */
@import url("/src/styles/theme.css");

/* Navbar */
.navbar {
  background-color: var(--black-alt);
  display: flex;
  align-items: center;
}

.navbar-wrapper {
  max-width: 82em;
  margin-left: auto;
  margin-right: auto;
  
}

.stripe {
  position: relative;
  width: 100%;
}

.stripe:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--black-alt);
}

.navbar-brand {
  padding-left: 1.5rem;
}

.nav-link {
  color: var(--white) !important;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.nav-link:hover {
  background-image: var(--accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.super-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.active-link {
  background-image: var(--accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* Mobile menu */

.mobile-collapse.show {
  transition: height 0.3s ease;
}

/*Mobile Toggle Button*/
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  outline: 0;
}

.navbar-toggler {
  border: none;
  outline: 0 ;
  box-shadow: none;
  background: transparent ;
}






.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  transition: transform 0.5s ease-in-out;
}

.navbar-toggler .top-bar {
  transform-origin: top left;
  background-color: #fbb034;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.navbar-toggler .middle-bar {
  background-color: #fbb034;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.navbar-toggler .bottom-bar {
  transform-origin: bottom left;
  background-color: #fbb034;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.navbar-toggler .icon-bar.top-bar.toggled {
  transform: translateY(50%) translateY(-4px) rotate(45deg);
}

.navbar-toggler .icon-bar.middle-bar.toggled {
  opacity: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.navbar-toggler .icon-bar.bottom-bar.toggled {
  transform: translateY(-50%) translateY(1px) rotate(-45deg);
}

.navbar-toggler:focus {
  outline: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-to-top.visible {
  opacity: 0.8;
}

.scroll-to-top-button {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.scroll-to-top-button:hover {
  opacity: 1;
}

.custom-nav-spacing {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

/* Mobile menu styles (always applied) */
.mobile-collapse {
  display: block;
  width: 100%;
  background-color: var(--black-alt);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.mobile-collapse.show {
  transition: height 0.3s ease;
  height: 100vh;
}

/*MOBILE*/
@media (max-width: 766px) {
 
  .navbar {
    background-color: var(--black-alt);
    display: flex;
    align-items: center;
  }
  
 
  .desktop-collapse {
    display: none;
  }

  .navbar-brand {
    padding-left: 0rem;

  }



}

/*TABLET*/
@media (min-width: 767px) and (max-width: 992px) {
  .mobile-collapse {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
  }

  .navbar-brand {
    padding-left: 0rem;
  }

  .super-title {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
  }
}

/*LAPTOP + DESKTOP*/
@media (min-width: 993px) and (max-width: 1312px) {
  .desktop-collapse {
    display: flex;
  }

  .mobile-collapse {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
  }

  .super-title {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
  }
}

/*ULTRAWIDE*/
@media (min-width: 1312px) {
  .desktop-collapse {
    display: flex;
  }

  .mobile-collapse {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
  }
}
