.col-product-sidebar {
  font-family: Josefin Sans;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
}

.products-navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -0.5rem !important;
  font-family: Josefin Sans;
  background-color: var(--grey) !important;
  border-radius: 5px;
  min-width: auto;
}

.product-nav-info-container {
}

.static-info,
.dynamic-info {
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  min-width: 25rem;
}

.instrument-nav-sax img,
.instrument-nav-clar img {
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.instrument-nav-sax img:hover,
.instrument-nav-clar img:hover {
  background-color: darkcyan;
}

.instrument-nav-sax:hover img,
.instrument-nav-clar:hover img {
  background-color: darkcyan;
}

.instrument-nav-sax.selected img,
.instrument-nav-clar.selected img {
  background-color: darkcyan;
}

.instrument-nav-sax,
.instrument-nav-clar {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.dropdown-menu {
  background-color: var(--black) !important;
  border-radius: 5px;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--nav-accent);
}
