@import url("/src/styles/theme.css");

/* Variables */
:root {
  --font-family-big-shoulders: "Big Shoulders Text", sans-serif;
  --radius: 0.5rem;
  --info-bg: var(--black-alt);
}



/* Products page styles */
.products-grid {
  display: flex;
  background-color: var(--black-alt);
  color: var(--white);
  justify-content: center;
  position: relative;
  padding-right:2rem;
}



.category-title {
  font-family: var(--font-family-big-shoulders);
  font-size: 5rem;
  font-weight: 500;
  margin: 5% 0 1rem;
  text-align: center;
}

/* Product card styles */
.product-row {
  display: flex;
  margin: 1rem 0;
  row-gap: 2rem;
  margin-left: 4.5rem;
  flex-wrap: wrap;

}

.product-card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0 0 var(--radius) var(--radius);
}

.product-card {
  height: 100%;
  width: 75%;
  border: 0;
  border-radius: 0.75rem;
}

.product-image {
  position: relative;
}

.product-image img {
  height: 25rem;
  width: 100%;
  object-fit: scale-down;
}

.product-description {
  flex: 1;
  background-color: black;
  border-radius: 0 0 var(--radius) var(--radius);
  min-height: 7rem;
  overflow-y: auto;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.header-section .subtype-chip {
  border-color: inherit;
  color: inherit;
}

.bore-circle {
  display: inline-block;
  border-radius: 50%;
}

.product-id {
  background-color: rgba(229, 172, 0, 0.8);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  width: 2.5rem;
}

.instrument-icon {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--grey-alt);
}

.product-info-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--font-family-big-shoulders);
}

.facing {
  font-weight: 100;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 1.25rem;
  background-color: var(--black-alt);
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 5.5rem;
}

.facing-text {
  align-self: center;
  margin-bottom: -0.5rem;
}

.facing-angles-container {
  display: flex;
  flex-direction: row;
}

.facing-angles {
  display: inline-flex;
  margin-right: 8px;
}



.bore-specification {
  max-width: 7.5rem;
  max-height: 5rem;
  font-weight: 100;
  font-size: 1.25rem;
  background-color: var(--info-bg);
  padding: 0.5rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -2rem;
  flex-direction: row;
  gap: 0.5rem;
}

.bore-specification span {
  position: relative;
  left: 0.25rem;
  border-radius: 50%;
}




.price {
  font-family: var(--font-family-big-shoulders);
  font-size: 2rem;
  font-weight: bold;
  text-align: center !important;
}


