@import url("/src/styles/theme.css");

/* Variables */
:root {
  --font-family-big-shoulders: "Big Shoulders Text", sans-serif;
}

/* Navbar styles */
.products-nav {
  margin-bottom: 1rem;
  font-family: var(--font-family-big-shoulders);
  background-color: var(--grey) !important;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--nav-accent);
}

/* Products page styles */
.products-page {
  margin-top: -1rem;
  background-color: var(--black);
  color: var(--white);
  padding-top: 2rem;
}

.category-title {
  font-family: var(--font-family-big-shoulders);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 4rem;
}

/* Product card styles */

.mb-4 {
  margin-bottom: 10rem !important;
  padding-left: 6rem;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  height: 30rem;
}

.product-card {
  height: 100%;
  width: 250px;
  border: 0;
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
  object-fit: cover;
}

.product-description {
  flex: 1;
  background-color: black;
  border-radius: 0 0 0.5rem 0.5rem; /* Add this line */
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.instrument-icon {
  width: 2rem;
  height: 2rem;
  padding: .25rem;
  margin-right: .5rem;
  border-radius: .25rem;
  background-color: var(--grey-alt);
}

.product-id {
  background-color: rgba(229, 172, 0, 0.8);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.product-info-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bore-specification {
  font-family: var(--font-family-big-shoulders);
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.bore-specification span {
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
}

.price {
  font-family: var(--font-family-big-shoulders);
  font-size: 1rem;
  margin-top: 1.5rem !important;
  font-weight: bold;
  text-align: center !important;
}

.facing {
  font-family: var(--font-family-big-shoulders);
  font-size: 1rem;
  display: flex;
  gap: 4px;
}
