@import url("/src/styles/theme.css");

/* Variables */
:root {
  --font-family-big-shoulders: "Big Shoulders Text", sans-serif;
}

/* Navbar styles */
.products-nav {
    margin-bottom: 1rem;
    
    font-family: var(--font-family-big-shoulders);
    background-color: var(--grey) !important;
    border-radius: 5px;
    width: 100%;
    float: right;
    
  }
  
  .navbar a {
    color: var(--white);
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: var(--nav-accent);
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  

  
  .information-container {
    width: 100%;
  }
  
  .static-info, .dynamic-info {
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  .static-info {
    width: 100%;
  }
  
  .dynamic-info {
    width: 100%;
  }
  