.products-navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--grey) !important;
  border-radius: 5px;
  width: 100%;
}

.products-navbar .nav-link,
.products-navbar .dropdown {
  width: auto;
}

.products-navbar .nav-link {
  align-items: center;
  font-family: Josefin Sans;
  margin-right: 1rem;
}

.product-nav-info-container {
  position: -webkit-sticky !important;
  position: sticky !important;
  flex-direction: column;
}

.static-info,
.dynamic-info {
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  font-family: Josefin Sans;
}

.instrument-icon img {
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.instrument-nav-sax:hover,
.instrument-nav-clar:hover {
  background-color: darkcyan;
}

.instrument-nav-sax.selected img,
.instrument-nav-clar.selected img {
  background-color: darkcyan;
}

.instrument-nav-sax,
.instrument-nav-clar {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.dropdown-menu {
  background-color: var(--black) !important;
  border-radius: 5px;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--nav-accent);
}

@media (max-width: 440px) {
  .products-navbar {
    width: 23rem;
    margin-left: .5rem;
  }
  .product-nav-info-container {
    padding-left: .25rem;
    margin-right: -.25rem;
  }
}

@media (min-width: 441px) and (max-width: 767px) {
  .products-navbar {
    width: 23rem;
    margin-left: 10rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .products-navbar {
    width: 25rem;
    margin-left: 10rem;
  }
}

@media (min-width: 1080px) {
  .sticky-column {
    position: sticky;
    z-index: 4;
    top: 0;
    margin-bottom: 25rem;
    margin-left: 0rem;
    max-height: calc(100vh - 50px);

  }
}

@media (min-width: 1200px) {
  .sticky-column {
    position: sticky;
    z-index: 4;
    top: 0;
    margin-bottom: 25rem;
    margin-left: -2rem;
    margin-right: 2rem;
    max-height: calc(100vh - 50px);

  }

  div .navbar-nav {
    margin-left: 2.5rem;
  }


}

.reset-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  font-family: Josefin Sans;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
