@import url("/src/styles/theme.css");

/* Variables */
:root {
  --font-family-big-shoulders: "Big Shoulders Text", sans-serif;
  --radius: 0.5rem;
  --info-bg: var(--black-alt);
}

.col-sidebar{
  background-color: var(--black-alt);

}

/* Products page styles */
.products-grid {
  display: flex;
  background-color: var(--white);
  justify-content: center;
  position: relative;
  padding-right: 2rem;
}

.products-page {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stripe-products-grid  {
  position: relative;
}

.stripe-products-grid:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--white) !important;
}

.category-title {
  font-family: var(--font-family-big-shoulders);
  font-size: 3rem;
  font-weight: 300;
  margin: 5% 0 1rem;
  text-align: center;
  color: black;
}

/* Product card styles */
.product-row {
  display: flex;
  margin: 1rem 0;
  row-gap: 2rem;
  margin-left: 4.5rem;
  flex-wrap: wrap;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Josefin Sans;
}

.product-card {
  height: 100%;
  width: 90%;
  border: 0;
  border-radius: 0.5rem;
}

.product-image {
  position: relative;

}

.product-image img {
  height: 10rem;
  width: 100%;
  object-fit: scale-down;
  background-color:#f2f2f2
}

.product-description {
  flex: 1;
  background-color:#f2f2f2;
  padding: 0.5rem;
  border-color: transparent;
  max-height: 13rem;
  border-radius: 0;
}

.product-icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25rem;
}

.product-id {
  background-color: rgba(229, 172, 0, 0.8);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  min-width: 2rem;
  margin-right: -1rem;
}

.instrument-icon {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--grey-alt);
  margin-right: -1rem;
}

.product-info-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-left: .25rem;
  color:white;
}

.accessories {
  background-image: var(--accent);
  border-radius: var(--radius);
  color: black;
  font-size: 1rem;
  letter-spacing: -1px;
  max-width: 11.5rem !important;
  padding: .1rem;
  padding-left: .75rem;
  padding-top: .25rem;
}


.facing {
  font-weight: 100;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 5.5rem;
  height: 4rem;
}

.facing-text {
  align-self: center;
  margin-bottom: -0.5rem;
  color: black;
  font-weight: 300;
}

.facing-angles-container {
  display: flex;
  flex-direction: row;
}

.facing-angles {
  display: inline-flex;
  margin-right: 8px;
}

.bore-specification {
  max-width: 2.5rem;
  height: 4rem;
  color: black;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.bore-specification span {
  position: relative;
  border-radius: 50%;
}

.tip-openings {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 2.5rem;
  height: 4rem;
  padding: 0.5rem;
}

.tip-openings-text {
  font-family: Josefin Sans;
  font-size: 1.25rem;
  color: black;
  font-weight: 300;
}

.model {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 300;
  padding: 0.5rem;
  max-width: max-content;
  letter-spacing: -1px;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.ligature-type {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 300;
  padding: 0.5rem;
  max-width: max-content;
  letter-spacing: -1px;
  font-size: 1.25rem;
  line-height: 1.25rem;

}

.finish {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 300;
  padding: 0.5rem;
  max-width: max-content;
  letter-spacing: -1px;
  font-size: 1.25rem;
  line-height: 1.25rem;

}


.price {
  font-size: 2rem;
  text-align: center !important;
  color: var(--black);
  font-weight: 400;

}

