.navbar .dropdown.show a.dropdown-toggle {
  color: gold !important;
}



/* General styles */
.navbar a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover, 
.navbar a:focus, 
.navbar a:active {
  color: gold;
}

/* Products navbar styles */
.products-navbar {
  margin-top: 1rem;
  background-color: var(--grey) !important;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  
}

.products-navbar .nav-link,
.products-navbar.dropdown {
  width: auto;
}

.products-navbar .nav-link {
  align-items: center;
  font-family: Josefin Sans;
  margin-right: 2rem;
}

.dropdown-menu {
  background-color: var(--black) !important;
  font-family: Josefin Sans;
  border-radius: 5px;
}

/* Reset Filters Button styles */
.reset-filters {
  display: block;
  margin-left: auto;
  border-radius: 5px;
  font-family: Josefin Sans;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.find-dealer {
  display: block;
  margin-left: auto;
  border-radius: 5px;
  font-family: Josefin Sans;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -2rem;
  background: linear-gradient(90deg, #FFA500, #FFD700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

 
  

  


}