@import url("/src/styles/theme.css");

/* Variables */
:root {
  --font-family-big-shoulders: "Big Shoulders Text", sans-serif;
}

.products-page-sidebar {
  background-color: var(--black-alt);
  font-family: Josefin Sans;
  position: -webkit-sticky!important;
  position: sticky !important;
  top: 0;
}

.stripe-products-page-sidebar  {
  position: relative;
  
}

.stripe-products-page-sidebar:before {
  content: "";
  position: absolute;
  margin-top: -1rem;
  height: 1050vh;
  width: 500vw;
  left: -100vw;
  z-index: -1;
  background-color: var(--black-alt) !important;
}

/* Navbar styles */



.products-navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -.5rem!important;
  font-family: Josefin Sans;
  background-color: var(--grey) !important;
  border-radius: 5px;
  width: 20rem;
}


.dropdown-menu {
  background-color: var(--black) !important;
  border-radius: 5px;
}

.instrument-nav-sax img,
.instrument-nav-clar img {
  transition: background-color 0.3s ease;  
  border-radius: 5px;
}

.instrument-nav-sax:hover img,
.instrument-nav-clar:hover img {
  background-color: darkcyan;
}

.instrument-nav-sax.selected img,
.instrument-nav-clar.selected img {
  background-color:darkcyan;
}

.instrument-nav-sax, .instrument-nav-clar {
  margin-left: .5rem;
  margin-right: 1rem;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--nav-accent);
}

.static-info,
.dynamic-info {
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
 
}
