.tip-openings {
  font-family: Josefin Sans, sans-serif;
  color: var(--white);
  height: 100%;  
}


.tip-openings table {
  margin-top: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px!important;
  border-collapse: collapse!important;
}

.tip-openings th,
.tip-openings td {
  padding: 12px;
  text-align: center;
  border: none;
  outline: none;
}

.tip-openings th {
  background-color: var(--nav-accent);
  color: var(--white);
}

.tip-openings tbody tr:nth-child(even) {
  background-color: var(--grey);
  color: var(--white);
}

.tip-openings tbody tr:nth-child(odd) {
  background-color: var(--white);
  color: var(--black);
}

.tip-openings tfoot tr {
  background-color: var(--nav-accent);
  color: var(--white);

}

.tip-openings tfoot tr:hover td {
  cursor: pointer;
  background-color: lightgray;
}

.tip-openings td:hover,
.tip-openings td:focus {
  color: var(--nav-accent);
}

/* New class for the bottom table */
.tip-openings-small {
  max-width: 300px;
  
}

/* Adjusting the max-width of the cells in the bottom table */
.tip-openings-small th,
.tip-openings-small td {
  max-width: 50px;
}

@media (max-width: 440px) {
  .tip-openings {
    font-size: 14px;
  }

  .tip-openings th,
  .tip-openings td {
    padding: 8px;
  }
  
  .tip-openings table {
    border-radius: 5px;
  }

  /* Adjusting the max-width of the cells in the bottom table for smaller screens */
  .tip-openings-small th,
  .tip-openings-small td {
    max-width: 30px;
  }
}