@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";

@import url('./styles/theme.css');
@import url('./styles/NavBar.css');
@import url('./styles/HomeCarousel.css');
@import url('./styles/HomeTrio.css');
@import url('./styles/HomeAbout.css');
@import url('./styles/HomeContact.css');
@import url('./styles/ProductsPage.css');
@import url('./styles/ProductsPageSidebar.css');
@import url('./styles/TipOpenings.css');

.content-container {
    max-width: 82em; 
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-content {
    max-width: 82em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .footer-container {
    max-width: 82em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-position: center;
    
  }

